@model Student
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card p-3">
    <h4>@Model.Id</h4>
    <h4>@Model.Name</h4>
    <h4>@Model.Address</h4>
    <h4>@Model.Grade</h4>
    <h4>@Model.Department.Name</h4>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
