@model IEnumerable<Instractor>
@{
    ViewData["Title"] = "Instructors Index";
}

<h1>Instructors Index</h1>
@if (User.IsInRole("Admin") || User.IsInRole("HR"))
{
    <a class="btn btn-primary" asp-action="Add">Add Instructor</a>
}
<br />

@await Html.PartialAsync("_SearchBox")

@if (!Model.Any())
{
    <div class="alert alert-warning mt-5">
        <h4 class="alert-heading">No Instructors!</h4>
        <p class="mb-0">No Instructors Were Added Yet.</p>
    </div>
}
else
{
    <table class="table table-bordered table-hover text-center" id="dataTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.Salary</td>
                    <td>@item.Department.Name</td>
                    <td>@item.Course.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        @{
                            ViewData["DeleteAction"] = "Delete";
                            ViewData["DeleteId"] = item.Id;
                        }
                        @await Html.PartialAsync("~/Views/Shared/_DeleteButtonPartial.cshtml")
                        <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">
                            Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
