@model IEnumerable<Course>
@{
    ViewData["Title"] = "Courses Index";
}

<h1>Courses Index</h1>
<a class="btn btn-primary" asp-action="Add">
    Add Course
</a>
<br />
<br />

@if (!Model.Any())
{
    <div class="alert alert-warning mt-5">
        <h4 class="alert-heading">No Courses!</h4>
        <p class="mb-0">No Courses Were Added Yet.</p>
    </div>
}
else
{
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Degree</th>
                <th>Min Degree</th>
                <th>Hours</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Degree</td>
                    <td>@item.MinimumDegree</td>
                    <td>@item.Hours</td>
                    <td>@item.Department.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="bi bi-trash3"></i> Delete
                        </a>
                        <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">
                            Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}